<h1>Login</h1>

<form action="/sessions" method="post">
  <p>
  <div class="mb-3">
    <label for="email_input" class="form-label">Email</label>
    <input type="text" name="email" id="email_input" class="form-control">
  </div>
  <div class="mb-3">
    <label for="password_input">Password</label>
    <input type="password" name="password" id="password_input">
    </div>
  </p>

  <button class="btn btn-success">Login</button>
</form>